h1.head {
    font-family: "Georgia";
    font-weight: bold;
    font-size: 32px;
    }
    h2.second{
    color: blue;
    font-family: "Georgia";
    font-weight: bold;
    font-size: 18px;
    }
    p.first{
    font-family:"Georgia";
    font-size: 16px;
    text-align: center;
    }
    p.second{
    color: #800000;
    text-align: left;
    }